.welcome-card {
  background-color: var(--light-col);
  box-shadow: var(--light-shadow);
  border-radius: var(--radius-md);
  position: relative;
  overflow: clip;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.welcome-card h1,
h2 {
  position: relative;
  z-index: 1;
}
/* Decoration */
.welcome-card::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 200%;
  background-color: var(--primary-col);
  top: 0;
  left: 0;
  rotate: -12deg;
  transform-origin: left;
}

.transactions-table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  overflow-x: scroll;
}
.transactions-table thead {
  background-color: var(--primary-col);
  color: var(--light-col);
}
.transactions-table th,
td {
  padding: 10px;
}
.transactions-table tr:nth-child(even) {
  background-color: var(--light-col);
}
.transactions-table .currency-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.transactions-table .currency-row img {
  width: 28px;
}
.action-button {
  border: none;
  background-color: transparent;
  gap: 3px;
  cursor: pointer;
  margin-right: 4px;
}
.action-button:hover {
  opacity: 0.65;
}
.action-button img {
  width: 22px;
}
.no-transactions {
  margin-top: var(--margin-sm);
  text-align: center;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .welcome-card {
    flex-direction: column;
    text-align: center;
    color: #000;
    gap: 20px;
  }
  .welcome-card::after {
    display: none;
  }
  .welcome-card .total-balance {
    color: var(--primary-col);
  }
}
