.trans_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
.trans_details {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 16px;
}
.trans_details textarea {
  width: 100%;
}
input[value="income"]:checked + label {
  color: var(--primary-col);
  font-weight: bold;
}
input[value="expense"]:checked + label {
  color: var(--error-col);
  font-weight: bold;
}
.success {
  color: var(--primary-col);
  font-weight: bold;
  font-size: 1.45rem;
}
